<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>              <string>shh</string>
  <key>CFBundleDisplayName</key>       <string>shh</string>
  <key>CFBundleExecutable</key>        <string>shh</string>
  <key>CFBundleIdentifier</key>        <string>local.sshm.gui</string>
  <key>CFBundleVersion</key>           <string>6</string>
  <key>CFBundleShortVersionString</key><string>1.0.0</string>
  <key>CFBundlePackageType</key>       <string>APPL</string>
  <key>CFBundleIconFile</key>          <string>AppIcon</string>
  <key>LSMinimumSystemVersion</key>    <string>13.0</string>
  <key>NSHighResolutionCapable</key>   <true/>
  <key>SUFeedURL</key>                 <string>https://raw.githubusercontent.com/mahadev-0007/shh../main/gui/appcast.xml</string>
  <key>SUPublicEDKey</key>             <string>A3KKyKctY/VirAvhpvpXOOL6MP05WTl/bNCXkGgs9oU=</string>
  <key>SUEnableInstallerLauncherService</key> <false/>
</dict>
</plist>
